@import "tailwindcss";

html[data-theme="default"] {
  filter: none;
}

html[data-theme="dark"] {
  filter: brightness(0.85) contrast(1.05);
}

html[data-theme="light"] {
  filter: invert(1) hue-rotate(180deg);
}

html[data-theme="light"] img,
html[data-theme="light"] video {
  filter: invert(1) hue-rotate(180deg);
}
